.message {
    display: flex;
    /*flex-direction: row-reverse;*/
    margin: 10px;
}

.own-message {
    margin-left: auto;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    margin: 10px;
}

.message-box {
    background-color: whitesmoke;
    padding: 15px 15px 0;
    border-radius: 10px;
}

.nickname {
    font-weight: 600;
}

.text {
    margin: 10px 0;
    max-width: 700px;
    word-wrap: break-word;
    /*height: auto;*/
}

.tools {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    color: #777;
    /*right: 100px;*/
    /*width: 150px;*/
}

.info {
    display: flex;
    flex-direction: column;
}

.time {
    width: 50px;
}

.like {
    height: 20px;
    cursor: pointer;
    margin: 0;
    background-color: inherit;
}

.icons > * {
    height: 20px;
    cursor: pointer;
    margin: 0 0 0 10px;
}


